<?xml version="1.0" encoding="UTF-8"?>
    <configuration>
        <system.webServer>
            <handlers>
            <add name="DjangoHandle" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrator\AppData\Local\Programs\Python\Python36\python.exe|C:\RedAnt_2018\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
                <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\users\administrator\appdata\local\programs\python\python36\python.exe|c:\users\administrator\appdata\local\programs\python\python36\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
            </handlers>
	<security>
            <requestFiltering allowDoubleEscaping="true" />
	</security>
        </system.webServer>
        <appSettings>
            <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
            <add key="PYTHONPATH" value="C:\RedAnt_2018" />
            <add key="DJANGO_SETTINGS_MODULE" value="DUSite.settings" />
        </appSettings>
    <system.web>

        <globalization culture="zh-CN" fileEncoding="utf-8" requestEncoding="utf-8" uiCulture="zh-CN" />
    </system.web>

    </configuration>
