
<footer>
  <div class="">
  <hr>
    <p> Copyright 红蚂蚁实验室</p>
  <hr>
  </div>
</footer>

    <script type="text/javascript" src="/static/js/signIn.js"></script>
    <script type="text/javascript" src="/static/js/contact.js"></script>
    <script type="text/javascript" src="/static/js/wheel1.js"></script>
    <script type="text/javascript" src="/static/js/news.js"></script>
    <script type="text/javascript" src="/static/js/alertModel.js"></script>
    <script type="text/javascript">
    jQuery("#jquery-accordion-menu").jqueryAccordionMenu();
    </script>
    </body>
  </div>
  <!--模态框包含确认键-->
         <div class="model-alertInfo" id="model-alertInfo">
            <div class="model-container">
                <div class="model-head">
                    <span class="model-title">{{course.Name}}</span>
                    <i class="fa fa-close"></i>
                </div>
                <div class="model-body">
                    <h3 class="message"></h3>
                </div>
                <div class="model-end">
                    <div class="btn get">确 认</div>
                </div>
            </div>
        </div>
        <!--alarm警告框-->
        <div class="model-alertInfo" id="model-alertInfo_0">
            <div class="model-container">
                <div class="model-head">
                    <span class="model-title">{{course.Name}}</span>
                </div>
                <div class="model-body">
                    <h3 class="message"></h3>
                </div>
            </div>
        </div>
      
</html>